<!doctype html>

<link rel="stylesheet" href="css/styles.css">

<html>

<head></head>
<body>
{{>header}}

<div>{{name}}</div>

<br />
<form>
<input name="searchtxt" id="searchtxt" placeholder="Weather search..."/>
<button>Search</button>
</form>
<br />
<div id="searchResult1"></div>
<br />
<div id="searchResult2"></div>

{{>footer}}
<script src="js/app.js"></script>
</body>

</html>